.wishlistIcon {
  width: 30px;
}
.wishlistIconContainer:hover {
  background: rgba(115, 115, 115, 0.4);
  border-radius: 25px;
  cursor: pointer;
}
.wishlistIconContainer {
  text-align: center;
  padding: 10px;
}
.cardImg {
  min-height: 35vh;
}
.categoryBg {
  background-color: #fff6f7;
}
.listItem {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
