#basic-navbar-nav a {
  color: white;
  display: inline-flex;
}
#basic-navbar-nav a:hover {
  color: black;
}
#basic-navbar-nav .active {
  color: black;
}
@media screen and (max-width: 992px) {
  #basic-navbar-nav a {
    display: block;
  }
}
